<div id="flex-container-search">
    <h3 id="title" class="flex-item">{{title}}</h3>
    <div id="margin-under-title">
        <small class="text-muted flex-item">Digite os dados para busca</small>
        <input class="form-control flex-item" type="text" aria-label="caixa de texto para buscar produto por código ou nome">
        <button routerLink="/product" type="button" id="flex-button" class="btn btn-primary flex-item" aria-label="botão para buscar produto">
            Buscar<fa-icon [icon]="faChevronRight"></fa-icon>
        </button>
    </div>
</div>
