<div id="flex-container-search">
    <!--Register container title -->
    <h3 id="title" class="flex-item">{{title}}</h3>
    <!-- Search form -->
    <div id="margin-under-title">
        <small class="text-muted flex-item">Digite os dados para busca</small>
        <input class="form-control flex-item" type="text" [(ngModel)]="filterinput" id="search-box">
        <button type="button" (click)="searchFilter()" id="flex-button"
            class="btn btn-primary flex-item" aria-label="botão para buscar produto">
            Buscar<fa-icon [icon]="faChevronRight"></fa-icon>
        </button>
    </div>
</div>