// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@300&display=swap')

// Font Variables
$oswald-sans: 'Oswald', sans-serif
$open-sans: 'Open Sans', sans-serif

// Styles
div
    font-family: $open-sans

#flex-container-app
    display: flex
    justify-content: center
    align-items: center

app-root
    display: block
    width: 600px

small, h3, h4
    font-weight: bold

.mat-sort-header-container
    display: flex
    justify-content: space-between

.mat-sort-header, td.mat-cell
    padding-left: 20px!important
    padding-right: 20px!important
.mat-paginator-range-label
    display: none!important
.mat-sort-header-stem 
  background: none
  display: none!important

.mat-sort-header-pointer-middle
  background: none
  display: none!important

.mat-sort-header-indicator
    top: 5px!important

.mat-paginator
    display: flex!important
    flex-direction: row
    justify-content: flex-start
    
th.mat-header-cell:last-of-type
    div
        .mat-sort-header-arrow
            display: none
