<div id="flex-container-register">
    <h4>{{title}}</h4>
    <div id="flex-container-text-boxes">
        <div id="flex-container-code">
            <small class="text-muted">Código</small>
            <input class="form-control" type="text" aria-label="caixa de texto para inserir código do produto a ser cadastrado">
        </div>
        <div id="flex-container-name">
            <small class="text-muted">Nome</small>
            <input class="form-control" type="text" aria-label="caixa de texto para inserir nome do produto a ser cadastrado">
        </div>
    </div>
    <button type="button" id="flex-button" class="btn btn-primary">Cadastrar</button>
</div>