<app-search></app-search>
<div id="flex-container-product">
  <table mat-table class="full-width-table table-bordered" matSort aria-label="Elements">
    <!-- Code Column -->
    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Código</th>
      <td mat-cell *matCellDef="let row">{{row.code}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
      <td mat-cell *matCellDef="let row">{{row.name}}</td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Ações</th>
      <td mat-cell *matCellDef="let row" id="flex-container-actions">
        <button type="button" class="icon-button" (click)="openEditProductWindow(mymodal, row)" aria-label="botão para editar o nome do produto"><fa-icon class="fa-lg" [icon]="farEdit"></fa-icon></button>
        <button type="button" class="icon-button" (click)="deleteProduct(row.code)" aria-label="botão para excluir o produto"><fa-icon class="fa-lg" [icon]="farTrashAlt"></fa-icon></button>
      </td>
    </ng-container>
    <!-- Displayed Columns -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <!-- Paginator -->
  <mat-paginator #paginator
      [length]="dataSource!.products.length"
      [pageIndex]="0"
      [pageSize]="10"
      [hidePageSize]="true"
      >
  </mat-paginator>
  <!-- Modal Window for edit-->
  <ng-template #mymodal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Editar nome do produto</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <input class="form-control" type="text" aria-label="caixa de texto para inserir novo nome do produto" [(ngModel)]="productNewName">
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('save')">Salvar</button>
    </div>
  </ng-template>
</div>
<app-register></app-register>